<div class="container">

  <h4 class="mt-5 mb-4">注文履歴詳細</h4>
    <table>
      <tr>
        <th>購入者</th>
         <td><%= link_to @order.customer.last_name+@order.customer.first_name,admin_customer_path(@order.customer),class: 'text-dark' %></td>
      </tr>

      <tr>
        <th>注文日</th>
         <td><%= @order.created_at %></td>
      </tr>

      <tr>
        <th>配送先</th>
          <td><%= @order.delivery_postal_code %>
          <%= @order.delivery_address %></td>
          <td><%= @order.delivery_name %></td>
      </tr>

      <tr>
         <th>支払方法</th>
         <td><%= @order.payment_method_i18n %></td>
      </tr>
    </table>

    <table class="mt-4 w-100 table">
      <tr>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>数量</th>
       <th>小計</th>
       <th></th>
      </tr>
      <% @order_items.each do |order_item| %>
      <tr>
       <td><%= order_item.item.name %></td>
       <td><%= order_item.purchase_price %></td>
       <td><%= order_item.amount %></td>
       <td><%= order_item.subtotal %></td>
       <td></td>
       <% @total_price += order_item.subtotal %>
      </tr>
      <% end %>
      </table>

      <div class="text-right">商品合計 <%= @total_price %>円</div>
      <div class="text-right">送料 800円</div>
      <div class="text-right">請求金額 <%= @total_price + 800 %>円</div>
</div>