<div class="container">
  <h4 class="mt-5 mb-4">注文履歴一覧</h4>

    <table class="w-100 table">
      <tr>
       <th>購入日時</th>
       <th>購入者</th>
       <th>注文個数</th>
      </tr>
      <% @orders.each do |order| %>
      <tr>
       <td><%= link_to order.created_at,admin_order_path(order.id),class: 'text-dark' %></td>
       <td><%= order.customer.last_name %>
           <%= order.customer.first_name %>
       </td>
       <td><%= order.order_items.sum(:amount) %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @orders %>
</div>
