<div class="container">
 <div class="row">
  <div class="mx-auto">

    <h4>新規会員登録</h4>

    <%= form_with model: Customer.new, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table>
        <th>
          <tr>名前</tr>
          <tr>
          <%= f.label "(姓)" %>
          <%= f.text_field :last_name %>
          <%= f.label "(名)" %>
          <%= f.text_field :first_name %>
        　</tr>
        </th>

        <th>
          <tr>フリガナ</tr>
          <tr>
          <%= f.label "(セイ)" %>
          <%= f.text_field :last_name_kana %>
          <%= f.label "(メイ)" %>
          <%= f.text_field :first_name_kana %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "郵便番号（ハイフンなし）" %>
          <%= f.email_field :postal_code %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "住所" %>
          <%= f.email_field :address %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "電話番号（ハイフンなし）" %>
          <%= f.email_field :telephone_number %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "パスワード（６文字以上）" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password" %>
        　</tr>
        </th>

        <th>
          <tr>
          <%= f.label "パスワード（確認用）" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        　</tr>
        </th>

          <%= f.submit "新規登録",class: 'btn btn-success' %>
        </table>
      <% end %>

      <%= render "public/shared/links" %>

  </div>
 </div>
</div>
