<div class="container">
 <div class="col-md-8 offset-md-1">

 <table>
    <% if @item.image.attached? %>
     <%= image_tag @item.image,size:"200x200" %>
    <% else %>
     <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>¥<%= @item.tax_included_price %>(税込)</td>
  </tr>
  </table>
  <%= form_with model:@cart_item,url: cart_items_path do |f| %>
  <%= f.select :amount, *[1..10] %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit  "カートに入れる", class: 'btn btn-success' %>
  <% end %>
  

 </div>
</div>